<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21164325472-ipqil6hrmis8mhek4fh7tgut7cjr4a94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21164325472-ipqil6hrmis8mhek4fh7tgut7cjr4a94</string>
	<key>API_KEY</key>
	<string>AIzaSyDcovyANxqhSdBizfxtoq6vKsrh1TJZBhU</string>
	<key>GCM_SENDER_ID</key>
	<string>21164325472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Uebook</string>
	<key>PROJECT_ID</key>
	<string>uebooknew</string>
	<key>STORAGE_BUCKET</key>
	<string>uebooknew.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21164325472:ios:782901fb437d76a5c16105</string>
	<key>DATABASE_URL</key>
	<string>https://uebooknew.firebaseio.com</string>
</dict>
</plist>